/* School.css */

@import url('https://fonts.googleapis.com/css2?family=Lufga&display=swap');

.schoolPageWrapper,
.schoolPageWrapper * {
  box-sizing: border-box;
  font-family: 'Lufga', sans-serif;
}

.schoolPageWrapper {
  background: #eaeaea;
  min-height: 100vh;
  padding: 20px;
}

.schoolScreen {

    align-items: center;
    flex-direction: column;
    width: 390px;
    margin: auto;
    background: #FCF9FF;
    border-radius: 30px;
    overflow: hidden;
    justify-content: center;
    display: flex;

}