.tabsContainer {
  width: 320px;
  margin: auto;
  font-family: "Lufga", sans-serif;
  padding: 15px;
}

.tabs {
  display: flex;
  background: #eee;
  border-radius: 20px;
  overflow: hidden;
}

.tabs p {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.tabs .active {
  background: linear-gradient(90deg, #8e2de2, #5f00ba);
  color: white;
  border-radius: 20px;
}

.dateRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.arrow {
  font-size: 20px;
}

.calendarBtn {
  margin: 10px auto;
  background: #eee;
  width: fit-content;
  padding: 8px 15px;
  border-radius: 20px;
}

.dayRow {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.edit {
  color: purple;
}