@import url('https://fonts.cdnfonts.com/css/lufga');

.study-card {
 
      margin: 20px auto;
    width: 320px;
border-radius: 16px;
border: 0.667px solid #F3E8FF;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
background: #FFF;

  padding: 20px;
  font-family: 'Lufga', sans-serif;
}

.bars {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}

.bar-item {
  text-align: center;
}

.bar {
  width: 20px;
  border-radius: 10px;
  background: #8b2cf5;
}

.bar1 { height: 50px; }
.bar2 { height: 70px; }
.bar3 { height: 40px; }

.days {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  color: #aaa;
}

.avg-text {
  text-align: center;
  margin-top: 15px;
  color: #666;
  font-size: 14px;
}