.progress-card {
  width: 100%; /* ✅ */
  border-radius: 16px;
  border: 0.667px solid #F3E8FF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  background: #FFF;
  padding: 20px;
  font-family: 'Lufga', sans-serif;
}
.subject {
  margin-top: 15px;
}

.top {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.bar-bg {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 10px;
  margin-top: 5px;
}

.bar-fill {
  height: 100%;
  border-radius: 10px;
}