.msg-card {
 
border-radius: 13.703px;
border: 0.653px solid #F3E8FF;
background: #FFF;
box-shadow: 0 0.979px 2.936px 0 rgba(0, 0, 0, 0.10), 0 0.979px 1.958px -0.979px rgba(0, 0, 0, 0.10);
  padding: 16px;
  font-family: "Lufga", sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.msg-icon {
  width: 28px;
  height: 28px;
}

h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #1c1c1c;
}

p {
  margin: 3px 0 0;
  font-size: 13px;
  color: #7a7a7a;
}

.view-btn {
  background: linear-gradient(135deg, #7b2ff7, #a044ff);
  border: none;
  color: white;
  padding: 8px 18px;
  border-radius: 14px;
  font-size: 14px;
  cursor: pointer;
}