.exam-card {
  width: 100%; /* ✅ */
  border-radius: 16px;
  border: 0.667px solid #F3E8FF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  background: #FFF;
  padding: 20px;
  font-family: 'Lufga', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header span {
  color: #8b2cf5;
  cursor: pointer;
}

.exam-box {
border-radius: 14px;
background: #FEFCE8;
  padding: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.exam-box h4 {
  margin: 0;
}

.exam-box p {
  margin: 0;
  color: #777;
  font-size: 14px;
}

.date {
  color: #8b2cf5;
  font-weight: 500;
}